@charset "utf-8";
@font-face { 
  font-family: SAOUI; 
  src: url('../fonts/SAOUI.ttf'); 
} 
body{
	/*background: transparent;*/
	background-color: rgba(255,255,255,0.8);
	font-family:SAOUI,Microsoft YaHei;
	padding-bottom: 63px;
}
a{
	text-decoration: none;
}
hr{
	opacity: 0.3;
}
/*重载导航栏样式*/
.navbar-inverse{
	background-color: rgba(22,22,22,0.9);
	border-color: rgba(8,8,8,0.9);
}

table tr th{
	text-align: center;
}
/*文件夹背景*/
.dirback{
	background-color: rgba(108,200,255,0.1);
}

.searchFile{
	background-color: rgba(0,0,0,0.9);
	color: #fff;
}
tr.searchFile:hover{
	background-color: rgba(0,0,0,1.0);
	color: #000;
}

/*导航栏主页激活状态*/
.navbar-brand-active{
	color: #fff;
}

/*主页logo*/
.index-logo{
	font-size: 666%;
	color: rgba(0,0,0,0.8);
	text-shadow: 0px 0px 50px rgba(255,255,255,0.8);
}
.index-logo:hover{
	color: rgba(0,0,0,1);
	text-shadow: 0px 0px 100px rgba(255,255,255,1);
}
.medium-icon{
	font-size: 222%;
	color: rgba(0,0,0,0.8);
}
.medium-icon:hover{
	color: rgba(0,0,0,1);
}

/*按钮部分*/
.btn-default{
	background-color: rgba(255,255,255,0.8);
}
.btn:hover{
	background-color: rgba(0,0,0,0.9);
	color: #fff;
  	transition: .5s;
}
.btn-default.active,.btn-default.active:focus{
	background-color: rgba(0,0,0,0.9);
	color: #fff;
}